doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")   
        link(rel="stylesheet", href="css/style.css")
        title Elithat contacts
    body 
        include components/mixins
        header.header
            +privacyPopup()
            .header-block#up
                +headerNavigation(navigation)
        main
            section.wrapper
                .cart-block 
                    h.h1 корзина
                    .cart-box.flex-between
                        .product-block
                            .product-card.d-flex.items-center
                                a.delete(href="#") 
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1763 1.28027C14.5651 0.88794 15.1953 0.88794 15.584 1.28027C15.9727 1.6726 15.9727 2.3087 15.584 2.70103L9.90321 8.43474L15.7133 14.299C16.102 14.6913 16.102 15.3274 15.7133 15.7197C15.3246 16.1121 14.6944 16.1121 14.3057 15.7197L8.49558 9.8555L2.6855 15.7197C2.29679 16.1121 1.66657 16.1121 1.27786 15.7197C0.889151 15.3274 0.88915 14.6913 1.27786 14.299L7.08794 8.43474L1.40717 2.70103C1.01846 2.3087 1.01846 1.6726 1.40717 1.28027C1.79588 0.88794 2.4261 0.88794 2.81481 1.28027L8.49558 7.01398L14.1763 1.28027Z" fill="#D9D9D9"/>
                                    </svg>
                                .img-cart_block 
                                    picture 
                                        img(src="img/card-image1.jpg", alt="")
                                .info-cart_block 
                                    h2 Зимова шапка-шолом дитяча 
                                    p.code код 456789
                                    p.size-cart розмір: 
                                        span 48
                                .count-cart_block.flex-between
                                    a.min(href="#") -
                                    a.quantiti(href="#") 1
                                    a.plus(href="#") +
                                .sum-cart_block.flex-between.items-center
                                    p.full-price 459 грн
                                    p.sale-price 560 грн
                            .product-card.d-flex.items-center
                                a.delete(href="#") 
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1763 1.28027C14.5651 0.88794 15.1953 0.88794 15.584 1.28027C15.9727 1.6726 15.9727 2.3087 15.584 2.70103L9.90321 8.43474L15.7133 14.299C16.102 14.6913 16.102 15.3274 15.7133 15.7197C15.3246 16.1121 14.6944 16.1121 14.3057 15.7197L8.49558 9.8555L2.6855 15.7197C2.29679 16.1121 1.66657 16.1121 1.27786 15.7197C0.889151 15.3274 0.88915 14.6913 1.27786 14.299L7.08794 8.43474L1.40717 2.70103C1.01846 2.3087 1.01846 1.6726 1.40717 1.28027C1.79588 0.88794 2.4261 0.88794 2.81481 1.28027L8.49558 7.01398L14.1763 1.28027Z" fill="#D9D9D9"/>
                                    </svg>
                                .img-cart_block 
                                    picture 
                                        img(src="img/card-image1.jpg", alt="")
                                .info-cart_block 
                                    h2 Зимова шапка-шолом дитяча 
                                    p.code код 456789
                                    p.size-cart розмір: 
                                        span 48
                                .count-cart_block.flex-between
                                    a.min(href="#") -
                                    a.quantiti(href="#") 1
                                    a.plus(href="#") +
                                .sum-cart_block.flex-between.items-center
                                    p.full-price 459 грн
                                    p.sale-price 560 грн
                            .product-card.d-flex.items-center
                                a.delete(href="#") 
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1763 1.28027C14.5651 0.88794 15.1953 0.88794 15.584 1.28027C15.9727 1.6726 15.9727 2.3087 15.584 2.70103L9.90321 8.43474L15.7133 14.299C16.102 14.6913 16.102 15.3274 15.7133 15.7197C15.3246 16.1121 14.6944 16.1121 14.3057 15.7197L8.49558 9.8555L2.6855 15.7197C2.29679 16.1121 1.66657 16.1121 1.27786 15.7197C0.889151 15.3274 0.88915 14.6913 1.27786 14.299L7.08794 8.43474L1.40717 2.70103C1.01846 2.3087 1.01846 1.6726 1.40717 1.28027C1.79588 0.88794 2.4261 0.88794 2.81481 1.28027L8.49558 7.01398L14.1763 1.28027Z" fill="#D9D9D9"/>
                                    </svg>
                                .img-cart_block 
                                    picture 
                                        img(src="img/card-image1.jpg", alt="")
                                .info-cart_block 
                                    h2 Зимова шапка-шолом дитяча 
                                    p.code код 456789
                                    p.size-cart розмір: 
                                        span 48
                                .count-cart_block.flex-between
                                    a.min(href="#") -
                                    a.quantiti(href="#") 1
                                    a.plus(href="#") +
                                .sum-cart_block.flex-between.items-center
                                    p.full-price 459 грн
                                    p.sale-price 560 грн
                        .order-block
                            h2 Ваше замовлення:
                            p 3 товари в корзині
                            .sum-block 
                                .without-sale_price.flex-between.items-center
                                    p Сума без знижки:
                                    p.price-order.all-price 1000 грн
                                .sale_price.flex-between.items-center
                                    p Знижка: 
                                    p.price-order.sale 200 грн
                            hr
                            .order-sum.flex-between.items-center
                                p До сплати:
                                p.order-price_sum 800 грн
                            .flex-btn
                                a.issue-order(href="order.html") оформити замовлення
                                a.back(href="#") продовжити покупки
        footer 
            +footerNavigation(footerNav)
    script(src="js/scripts.js")