doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")   
        link(rel="stylesheet", href="css/style.css")
        title Elithat
    body 
        include components/mixins
        header 
            .header-block#up
                +headerNavigation(navigation)
                .main-bgc
                    .main-info.flex-between
                        p зручно та стильно
                        h1 Ми пишаємося широким вибором стильних та зручних головних уборів для всієї сім'ї. 
                            span Знайдемо ідеальний аксесуар для кожного.
                        a.catalog-cta(href="#") в каталог
                    .flex-between.carousel-picture.carousel 
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid2.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid3.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid4.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid5.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid6.png", alt="")
                        //- .carousel-img
                        //- .carousel-img
        main 
            section.wrapper.category#category 
                h2 категорії
                .flex-between.category-block
                    .for-girl.click-category
                        a(href="#")
                        picture 
                            sourse(srcset="img/girl.jpg" type="image/jpg")
                            img(src="img/girl.webp", alt="Купити шапку для дівчинки Elithat")
                    .for-boy.click-category
                        a(href="#") 
                        picture 
                            img(src="img/boy.webp", alt="Купити шапку для хлопчика Elithat")
                            sourse(srcset="img/boy.jpg" type="image/jpg")
                    .universal.click-category
                        a(href="#") 
                        picture 
                            sourse(srcset="img/universal.jpg" type="image/jpg")
                            img(src="img/universal.webp", alt="Купити шапку універсальну Elithat")
    script(src="js/scripts.js")