doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")   
        link(rel="stylesheet", href="css/style.css")
        title Elithat
    body 
        include components/mixins
        header.header
            +privacyPopup()
            .header-block#up
                +headerNavigation(navigation)
                .main-bgc
                    .main-info.flex-between
                        p зручно та стильно
                        h1 Ми пишаємося широким вибором стильних та зручних головних уборів для всієї сім'ї. 
                            span Знайдемо ідеальний аксесуар для кожного.
                        a.catalog-cta(href="catalog.html") в каталог
                    .flex-between.carousel-picture.carousel 
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid2.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid3.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid4.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid5.png", alt="")
                        .carousel-img
                            picture 
                                img(src="img/bgc-kid6.png", alt="")
        main 
            section.wrapper.category#category 
                h2 категорії
                .d-flex.category-block-main
                    .click-category
                        a(href="#")
                        .category-card.for-girl
                            p.category-name для дівчаток
                            span.liquid 
                                <svg viewBox="0 0 479 227" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="#BC215F" d="M69.0721 168.965C49.0512 150.569 14.682 141.971 0 139.971V15C0 6.71573 6.71574 0 15 0H464C472.284 0 479 6.71574 479 15V168.965C465.986 161.633 430.349 147.869 391.909 151.469C343.859 155.968 354.87 159.967 307.821 193.96C260.772 227.953 202.211 229.952 159.667 224.953C117.122 219.954 94.0982 191.96 69.0721 168.965Z"/>
                                </svg>
                                span.left-vector
                                    <svg viewBox="0 0 188 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 118.5C15.8333 119 46 110.7 48 73.5001C50.5 27.0001 2.68596 53.0001 24.5 69.0001C46.314 85.0001 64 60 74.5 40.5C85 21 108 20.5 128.5 26.5C149 32.5 157.5 46 174.5 33.5C188.1 23.5 185.5 8 182.5 1.5" stroke="#219EBC" stroke-width="5"/>
                                    </svg>
                                span.right-vector
                                    <svg viewBox="0 0 209 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 12.3599C7.83333 21.1932 21.7 38.7599 38.5 38.3599C59.5 37.8599 82.5 30.8599 81.5 12.3599C80.7508 -1.5 65.5 2.35989 62.5 7.35987C59.5 12.3599 54 32.3598 93.5 31.3598C133 30.3598 142 38.8598 149.5 54.3598C157 69.8598 155.096 89.7925 169 100.36C181.5 109.86 192.5 104.86 198 96.3598C202.4 89.5598 207.167 87.8598 209 87.8598" stroke="#30BC21" stroke-width="5"/>
                                    </svg>
                        //- picture 
                        //-     sourse(srcset="img/girl.webp" type="image/webp")
                        //-     img(src="img/girl.svg", alt="Купити шапку для дівчинки Elithat")
                    .click-category
                        a(href="#") 
                        .category-card.for-boy
                            p.category-name Для хлопчиків
                            span.liquid 
                                <svg viewBox="0 0 479 227" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M69.0721 168.965C49.0512 150.569 14.682 141.971 0 139.971V15C0 6.71573 6.71574 0 15 0H464C472.284 0 479 6.71574 479 15V168.965C465.986 161.633 430.349 147.869 391.909 151.469C343.859 155.968 354.87 159.967 307.821 193.96C260.772 227.953 202.211 229.952 159.667 224.953C117.122 219.954 94.0982 191.96 69.0721 168.965Z" fill="#30BC21"/>
                                </svg>
                                span.left-vector
                                    <svg viewBox="0 0 188 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 118.5C15.8333 119 46 110.7 48 73.5001C50.5 27.0001 2.68596 53.0001 24.5 69.0001C46.314 85.0001 64 60 74.5 40.5C85 21 108 20.5 128.5 26.5C149 32.5 157.5 46 174.5 33.5C188.1 23.5 185.5 8 182.5 1.5" stroke="#219EBC" stroke-width="5"/>
                                    </svg>
                                span.right-vector
                                    <svg viewBox="0 0 209 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 12.3599C7.83333 21.1932 21.7 38.7599 38.5 38.3599C59.5 37.8599 82.5 30.8599 81.5 12.3599C80.7508 -1.5 65.5 2.35989 62.5 7.35987C59.5 12.3599 54 32.3598 93.5 31.3598C133 30.3598 142 38.8598 149.5 54.3598C157 69.8598 155.096 89.7925 169 100.36C181.5 109.86 192.5 104.86 198 96.3598C202.4 89.5598 207.167 87.8598 209 87.8598" stroke="#BC215F" stroke-width="5"/>
                                    </svg>
                        //- picture 
                        //-     sourse(srcset="img/boy.webp" type="image/webp")
                        //-     img(src="img/boy.png", alt="")
                    .click-category
                        a(href="#")
                        .category-card.universal
                            p.category-name Універсальні
                            span.liquid 
                                <svg viewBox="0 0 479 227" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M69.0721 168.965C49.0512 150.569 14.682 141.971 0 139.971V15C0 6.71573 6.71574 0 15 0H464C472.284 0 479 6.71574 479 15V168.965C465.986 161.633 430.349 147.869 391.909 151.469C343.859 155.968 354.87 159.967 307.821 193.96C260.772 227.953 202.211 229.952 159.667 224.953C117.122 219.954 94.0982 191.96 69.0721 168.965Z" fill="#219EBC"/>
                                </svg>
                                span.left-vector
                                    <svg viewBox="0 0 188 122" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 118.5C15.8333 119 46 110.7 48 73.5001C50.5 27.0001 2.68596 53.0001 24.5 69.0001C46.314 85.0001 64 60 74.5 40.5C85 21 108 20.5 128.5 26.5C149 32.5 157.5 46 174.5 33.5C188.1 23.5 185.5 8 182.5 1.5" stroke="#30BC21" stroke-width="5"/>
                                    </svg>
                                span.right-vector
                                    <svg viewBox="0 0 209 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 12.3599C7.83333 21.1932 21.7 38.7599 38.5 38.3599C59.5 37.8599 82.5 30.8599 81.5 12.3599C80.7508 -1.5 65.5 2.35989 62.5 7.35987C59.5 12.3599 54 32.3598 93.5 31.3598C133 30.3598 142 38.8598 149.5 54.3598C157 69.8598 155.096 89.7925 169 100.36C181.5 109.86 192.5 104.86 198 96.3598C202.4 89.5598 207.167 87.8598 209 87.8598" stroke="#BC215F" stroke-width="5"/>
                                    </svg>
                        //- picture 
                        //-     sourse(srcset="img/universal.webp" type="image/webp")
                        //-     img(src="img/universal.svg", alt="Купити шапку універсальну Elithat")
            section.wrapper.products#products
                h2 популярні товари
                .products-list 
                    figure 
                        .relative
                            a.product-redirect(href="product-card.html") 
                            .girl-product 
                                span для дівчинки
                            img(src="img/card-image1.jpg", alt="")
                        figcaption 
                            h3 Зимова шапка-шолом дитяча 
                            p.made-in країна-виробник: 
                                    span Китай
                            .flex-between.product-sizes.items-center
                                span розміри:
                                form(action="") 
                                    .sizes-inputs
                                        input(type="checkbox", name="size" id="product-size38")
                                        label(for="product-size38") 38
                                        input(type="checkbox", name="size" id="product-size39")
                                        label(for="product-size39") 39
                                        input(type="checkbox", name="size" id="product-size40")
                                        label(for="product-size40") 40
                                        input(type="checkbox", name="size" id="product-size41")
                                        label(for="product-size41") 41
                                        input(type="checkbox", name="size" id="product-size42")
                                        label(for="product-size42") 42
                                        input(type="checkbox", name="size" id="product-size43")
                                        label(for="product-size43") 43
                                        input(type="checkbox", name="size" id="product-size44")
                                        label(for="product-size44") 44
                            .price.d-flex.items-center
                                b 459 грн
                                span.old-price 560 грн
                            a(href="#").cta до кошика
                    figure 
                        .relative
                            a.product-redirect(href="product-card.html") 
                            .boy-product
                                span для хлопчика
                            img(src="img/card-image-2.jpg", alt="")
                        figcaption 
                            h3 літня шапка-панамка дитяча
                            p.made-in країна-виробник: 
                                    span Китай
                            .flex-between.product-sizes.items-center
                                span розміри:
                                form(action="") 
                                    .sizes-inputs
                                        input(type="checkbox", name="size" id="product2-size38")
                                        label(for="product2-size38") 38
                                        input(type="checkbox", name="size" id="product-size39")
                                        label(for="product2-size39") 39
                                        input(type="checkbox", name="size" id="product2-size40")
                                        label(for="product2-size40") 40
                                        input(type="checkbox", name="size" id="product2-size41")
                                        label(for="product2-size41") 41
                                        input(type="checkbox", name="size" id="product2-size42")
                                        label(for="product2-size42") 42
                                        input(type="checkbox", name="size" id="product2-size43")
                                        label(for="product2-size43") 43
                                        input(type="checkbox", name="size" id="product2-size44")
                                        label(for="product2-size44") 44
                            .price.d-flex.items-center
                                b 459 грн
                                span.old-price 560 грн
                            a(href="#").cta до кошика
                    figure 
                        .relative
                            a.product-redirect(href="product-card.html") 
                            .universal-product
                                span універсальна
                            img(src="img/card-image-3.jpg", alt="")
                        figcaption 
                            h3 Зимова шапка-шолом дитяча 
                            p.made-in країна-виробник: 
                                span Китай
                            .flex-between.product-sizes.items-center
                                span розміри:
                                form(action="") 
                                    .sizes-inputs
                                        input(type="checkbox", name="size" id="product3-size38")
                                        label(for="product3-size38") 38
                                        input(type="checkbox", name="size" id="product3-size39")
                                        label(for="product3-size39") 39
                                        input(type="checkbox", name="size" id="product3-size40")
                                        label(for="product3-size40") 40
                                        input(type="checkbox", name="size" id="product3-size41")
                                        label(for="product3-size41") 41
                                        input(type="checkbox", name="size" id="product3-size42")
                                        label(for="product3-size42") 42
                                        input(type="checkbox", name="size" id="product3-size43")
                                        label(for="product3-size43") 43
                                        input(type="checkbox", name="size" id="product3-size44")
                                        label(for="product3-size44") 44
                            .price.d-flex.items-center
                                b 459 грн
                                span.old-price 560 грн
                            a(href="#").cta до кошика
                .justify-center
                    a(href="#").catalog-cta в каталог
            .overflow-x-propositions
                section.propositions#propositions 
                    .summer.wrapper
                        .images
                            img(src="img/summer-proposition-1.webp", alt="")
                            img(src="img/summer-proposition-2.webp", alt="")
                        h2 А Ви вже готові до літа?
                        p найкращі пропозиції від ElitHat
                        .justify-center.propositions-btn
                            a(href="#").catalog-cta в каталог
                section.propositions#propositions 
                    .autumn.wrapper
                        .images
                            img(src="img/autumn-proposition1.webp", alt="")
                            img(src="img/autumn-proposition2.webp", alt="")
                        h2 А Ви вже готові до осені?
                        p найкращі пропозиції від ElitHat
                        .justify-center.propositions-btn
                            a(href="#").catalog-cta в каталог
                section.propositions#propositions 
                    .winter.wrapper
                        .images
                            img(src="img/winter-proposition-1.webp", alt="")
                            img(src="img/winter-proposition-2.webp", alt="")
                        h2 А Ви вже готові до зими?
                        p найкращі пропозиції від ElitHat
                        .justify-center.propositions-btn
                            a(href="#").catalog-cta в каталог
                section.propositions#propositions 
                    .spring.wrapper
                        .images
                            img(src="img/spring-proposition-1.webp", alt="")
                            img(src="img/spring-proposition-2.webp", alt="")
                        h2 А Ви вже готові до весни?
                        p найкращі пропозиції від ElitHat
                        .justify-center.propositions-btn
                            a(href="#").catalog-cta в каталог
            .justify-center.wrapper.mobile-to-catalog
                a(href="#").catalog-cta в каталог
            section.advantages.wrapper#advantages.items-center
                .advantages-first-block 
                    h2 понад
                        span 400 товарів
                    p на усі сезони для Вашої малечі
                    a(href="#").catalog-cta в каталог
                .advantages-blocks 
                    .advantage-block
                        .d-flex 
                            img(src="img/advantage-img1.svg", alt="")
                            h3 широкий асортимент
                        hr
                        p На нашому сайті ви знайдете вражаючий та різноманітний асортимент товарів, що відповідає різним потребам і смакам. Ми пишаємося тим, що пропонуємо настільки великий вибір продукції.
                    .advantage-block
                        .d-flex 
                            img(src="img/advantage-img2.svg", alt="")
                            h3 вигідні ціни
                        hr
                        p На нашому сайті ви знайдете вражаючий та різноманітний асортимент товарів, що відповідає різним потребам і смакам. Ми пишаємося тим, що пропонуємо настільки великий вибір продукції.
                    .advantage-block
                        .d-flex 
                            img(src="img/advantage-img3.svg", alt="")
                            h3 швидка доставка
                        hr
                        p На нашому сайті ви знайдете вражаючий та різноманітний асортимент товарів, що відповідає різним потребам і смакам. Ми пишаємося тим, що пропонуємо настільки великий вибір продукції.
                    .advantage-block
                        .d-flex 
                            img(src="img/advantage-img4.svg", alt="")
                            h3 система лояльності для постійних клієнтів
                        hr
                        p На нашому сайті ви знайдете вражаючий та різноманітний асортимент товарів, що відповідає різним потребам і смакам. Ми пишаємося тим, що пропонуємо настільки великий вибір продукції.
        footer 
            +footerNavigation(footerNav)
    script(src="js/scripts.js")