doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")   
        link(rel="stylesheet", href="css/style.css")
        title Elithat contacts
    body 
        include components/mixins
        header.header
            +privacyPopup()
            .header-block#up
                +headerNavigation(navigation)
        main(iitemscope itemtype="http://schema.org/WebPage")
            section.wrapper
                .order-page(itemprop="mainEntity" iitemscope itemtype="http://schema.org/Order")
                    h1.h1(itemprop="name") оформлення замовлення
                    form.main-block_order.flex-between(action="#" method="post" itemprop="potentialAction" iitemscope itemtype="http://schema.org/CommunicateAction")  
                        .contact-form(iitemscope itemtype="http://schema.org/Organization")
                            h2(itemprop="name") ваші контактні дані
                            p.d-flex.input-order(itemprop="name")
                                label Мобільний телефон*
                                //- .correct-number - коректний номер телефону
                                //- .incorrect-number - некоректний номер телефону
                                input.phone-validation#phoneValidation(type="tel" name="phone")
                                .incorect-number-test.d-none 
                                    p(itemprop="name") *невірний формат вводу даних 
                            p.d-flex.input-order(itemprop="name")
                                label Імʼя*
                                input(type="text" name="name" itemprop="givenName")
                            p.d-flex.input-order(itemprop="name")
                                label Прізвище*
                                input(type="text" name="lastName" itemprop="familyName") 
                            p.d-flex.input-order(itemprop="name")
                                label Електронна пошта
                                input(type="email" name="email" itemprop="email")
                        .choise-form(itemprop="actionOption" iitemscope itemtype="http://schema.org/ChooseAction")
                            .pay-method(itemprop="actionOption" iitemscope itemtype="http://schema.org/ChooseAction")
                                h2(itemprop="name") оберіть спосіб оплати
                                p(itemprop="name") 
                                    input.style-input(type="radio" name="payMethod" id="nacladenyi" iitemscope itemtype="http://schema.org/ListItem")
                                    label.style-label(for="nacladenyi" iitemscope itemtype="http://schema.org/ListItem") накладений платіж
                                p(itemprop="name") 
                                    input.style-input(type="radio" name="payMethod" id="cash" iitemscope itemtype="http://schema.org/ListItem")
                                    label.style-label(for="cash" iitemscope itemtype="http://schema.org/ListItem") безготівковий рахунок
                                p(itemprop="name") 
                                    input.style-input(type="radio" name="payMethod" id="agremment" iitemscope itemtype="http://schema.org/ListItem")
                                    label.style-label(for="agremment" iitemscope itemtype="http://schema.org/ListItem") інший спосіб за домовленістю
                                p(itemprop="name")  
                                    input.style-input(type="radio" name="payMethod" id="cardPay" iitemscope itemtype="http://schema.org/ListItem")
                                    label.style-label(for="cardPay" iitemscope itemtype="http://schema.org/ListItem") оплата на карту
                            .delivery-method(iitemscope itemtype="http://schema.org/ChooseAction")
                                h2(itemprop="name") оберіть спосіб доставки
                                p(itemprop="name")  
                                    input.style-input(type="radio" name="deliveryMethod" id="novaPoshta" itemscope itemtype="http://schema.org/ListItem")
                                    label.style-label(for="novaPoshta" itemscope itemtype="http://schema.org/ListItem") Нова Пошта
                                p(itemprop="name")
                                    input.style-input(type="radio" name="deliveryMethod" id="ukrPoshta" itemscope itemtype="http://schema.org/ListItem")
                                    label.style-label(for="ukrPoshta" itemscope itemtype="http://schema.org/ListItem")  Укрпошта
                                p(itemprop="name")
                                    input.style-input(type="radio" name="deliveryMethod" id="meestexpres" itemscope itemtype="http://schema.org/ListItem") 
                                    label.style-label(for="meestexpres" itemscope itemtype="http://schema.org/ListItem") Meestexpres
                                p(itemprop="name")
                                    input.style-input(type="radio" name="deliveryMethod" id="samovyviz" itemscope itemtype="http://schema.org/ListItem") 
                                    label.style-label(for="samovyviz" itemscope itemtype="http://schema.org/ListItem") Самовивіз
                                p(itemprop="name")
                                    input.style-input(type="radio" name="deliveryMethod" id="transport" itemscope itemtype="http://schema.org/ListItem")
                                    label.style-label(for="transport" itemscope itemtype="http://schema.org/ListItem") Транспортом
                        .order-block(itemscope itemtype="http://schema.org/ChooseAction")
                            h2(itemprop="name") Ваше замовлення:
                            p(itemprop="description") 3 товари в корзині
                            .sum-block(itemscope itemtype="http://schema.org/CommunicateAction")
                                .without-sale_price.flex-between.items-center
                                    p(itemprop="description") Сума без знижки:
                                    p.price-order.all-price(itemprop="name") 1000 грн
                                .sale_price.flex-between.items-center
                                    p(itemprop="description") Знижка: 
                                    p.price-order.sale(itemprop="name") 200 грн
                            hr
                            .order-sum.flex-between.items-center
                                p(itemprop="description") До сплати:
                                p.order-price_sum(itemprop="name") 800 грн
                            .flex-btn
                                a.issue-order(href="#" itemprop="url") підтвердити
                                a.back(href="cart.html" itemprop="url") повернутися у корзину
        footer 
            +footerNavigation(footerNav)
    script(src="js/scripts.js")